<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>IDEACLIP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.actson.dev.ideaclip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1292857677767966</string>
				<string>com.googleusercontent.apps.785912708609-203t0aem3bfa1dqjvaa10pfkscgeql3i</string>
				<string>com.googleusercontent.apps.206566280190-9u7ndffriqivvtqoo9gi2j7m099t8e7n</string>
				<string>com.googleusercontent.apps.620741354549-krpu3jtrlhvr4u2tlnim8eocteg8hojv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.785912708609-07u9ld00kr5gmkukahv68gv54kbslnf7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CTTelephonyNetworkInfo</key>
	<string>To check network</string>
	<key>FacebookAppID</key>
	<string>1292857677767966</string>
	<key>FacebookDisplayName</key>
	<string>Ideaclip</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.1.*</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>It will enable you to snap or browse and select  photos or medias, make it as profile images or share them with friends.</string>
	<key>NSCameraUsageDescription</key>
	<string>It will enable you to snap or browse and select  photos or medias, make it as profile images or share them with friends.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need location for finding nearby businesses/charity</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need location for finding nearby businesses/charity</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need location for finding nearby businesses/charity</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To voice record for clip</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To save media from clips</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>It will enable you to snap or browse and select  photos or medias, make it as profile images or share them with friends.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Stick-Regular.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>ShadowsIntoLight.ttf</string>
		<string>Bahnschrift.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Caveat-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UILocalNotificationDefaultSoundName</key>
	<string>aha.wav</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
